<!DOCTYPE html> <!--DOCTYPE tells browser that this is a html type file-->
<html lang="en"> <!--all the lines written in side <html></html> is part of code-->
<!--lang="en" means that document is in english, helps search engine to detect that text is in english-->
    <head> <!--provides instructions to the browser about how to display the page. -->
        <meta charset="UTF-8"> <!--meta data, information about page : UTF-8 is like character encoding means supports alphanumeric data, symbols etc.--> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!---->
        <title>Real-Time Tracking App</title>
        <link rel="stylesheet" href="/css/style.css"> <!--link connects any external files too html page ,
         in this case it is styling file from css and "rel" means relationship with the link, here it tells that it is a stylesheet meaning css styling sheet,
         href is the path of the file-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" 
            integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            <!--here the link loads styling of leaflet maps from an online CDN (content delivery network), integrity has a hash code that prevents hackers,
            crossorigin means we can load this from any server.-->>
    </head>
    <body> <!--body  means what texts will be displayed on website-->>
        <div class="container">
            <!-- Sidebar for user list -->
                <div class="sidebar">
                <button class="toggle-btn" id="toggle-sidebar">☰</button>
                <h2>Active Users</h2>
                <div class="user-list" id="user-list">
                    <!-- Users will be dynamically added here -->
                </div>
            </div>
    
            <!-- Map Section -->
        <div id="map"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" 
            integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" 
                integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" 
                crossorigin="anonymous"></script>


        <script src="/js/script.js"></script>
    </body>
</html>